{# app/Resources/views/form/fields.html.twig #}
{% block form_row %}
{% spaceless %}
    <div class="form-group">
      {{ form_errors(form) }}
        <label for="form_firstName" class="col-md-2 control-label">{{ form_label(form) }}</label>
        <div class="col-md-14">
            {{ form_widget(form) }}
        </div>
        
        
    </div>
{% endspaceless %}
{% endblock form_row %}
