<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Judo Competition Manager{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('navigation.html.twig') }}

        {% block navigation %} {% endblock %}


        {% block body %}
        {% trans_default_domain "messages" %}

        {% endblock %}

        {% block javascripts %}

            {% javascripts '@jquery' '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script>
              $( function() {
                $( "#draggable, #dragFighter" ).draggable();
                $( "#droppable" ).droppable({
                  accept: "#dragFighter",
                  classes: {
                    "ui-droppable-active": "ui-state-active",
                    "ui-droppable-hover": "ui-state-hover"
                  },
                  drop: function( event, ui ) {
                    console.log( $( 'this' ).text() );
                  }
                });
              } );
              </script>

        {% endblock %}

        </body>
</html>
