<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Judo Competition Manager{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="print" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% trans_default_domain "messages" %}

        {% endblock %}

        </body>
</html>
